{% set usesCMAuth = "true" %}

{% set utils = aek.extension("CMAuthUtilities") %}
{% set attrs = null %}

{% if usesCMAuth == "true" %}

    {% set attrs = utils.getTokenAttributes() %}
    {% set oAuthAccessToken = utils.getOAuthAccessToken() %}

{% endif %}

{% if attrs != null %}

    {% set endpoint = "https://api.test.murdoch.edu.au/news/v2/news" %}

    {% set subscriptionHeaderKey = "Ocp-Apim-Subscription-Key" %}
    {% set subscriptionHeaderValue = "7515af62764b4767bdf279059bf0060e" %}

    {% set service = aek.create_service(endpoint) %}
    {{ service.set_method("get") }}
    {{ service.set_header("Ocp-Apim-Trace", true) }}
    {{ service.set_header(subscriptionHeaderKey, subscriptionHeaderValue) }}
    {{ service.set_header("Content-Type", "application/json") }}
    {{ service.set_parameter("pageSize", "3") }}
    {{ service.set_parameter("sort", "publishDateDescending") }}
    {{ service.set_parameter("audience", "public") }}
    {{ service.set_parameter("datePublished", "past3Months") }}
    {{ service.set_parameter("format", "article") }}

    {% if oAuthAccessToken %}
        {{ service.set_authorization("Bearer " ~ oAuthAccessToken) }}
    {% else %}
        {{ aek.respond({ "error":"CMAuth not returning oAuthAccessToken to the AEK.", "oAuthAccessToken":oAuthAccessToken }) }}
    {% endif %}

    {{ aek.respond({ "attrs":attrs, "response":service.json }) }}

{% else %}

    {{ aek.respond({ "error":"CMAuth not returning token attributes to the AEK." }) }}

{% endif %}
